<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Immobili</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Immobili disponibili</h1>

<table>
    <thead>
    <p>Informazioni generali</p>
    </thead>
    <tbody>
    <tr th:each="immobile:${listImmobili}">
      <th>Titolo<td><a th:href="@{/immobile/{id}(id=${immobile.idImmobile})}" th:text="${immobile.titolo}"></a></td></th>
        <th>Descrizione <td><span th:text="${immobile.descrizione}"></td></th>
        <th>prezzo di partenza  <td><span th:text="${immobile.prezzo}"></td></th>
        <th>locali  <td><span th:text="${immobile.locali}"></td></th>

    </tr>
    </tbody>
</table>
<a href="/site/utente/getInfo">Crea Immobile un altro immobile</a>

</body>
</html>
