<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Immobili</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">

    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
    </nav>
</head>
<body>
<h1>Immobili disponibili</h1>

<table>
    <thead>
    <p>Informazioni generali</p>
    </thead>
    <tbody>
    <tr th:each="immobile:${listImmobili}">
        <th>Immagini<td><img th:src="${immobile.immagineImmobile}"/></td></th>
      <th>Titolo<td><a th:href="@{/site/immobile/viewImmobile/{id}(id=${immobile.idImmobile})}" th:text="${immobile.titolo}"></a></td></th>
        <th>Descrizione <td><span th:text="${immobile.descrizione}"></td></th>
        <th>prezzo di partenza  <td><span th:text="${immobile.prezzo}"></td></th>


    </tr>
    </tbody>
</table>
<a href="/site/immobile">Crea un altro immobile</a>

</body>
</html>
