<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <style>
        .container{
            display: flex;
            justify-content: space-evenly;
        }
    </style>
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
        <a href="/logout">Disconnettiti</a>
    </nav>
    <title>Dettagli immobile</title>
</head>
<body>
<h1>Dettagli immobile selezionato</h1>
<table>
    <tr th:each="immobile:${wantedImmobile}">
        <img th:src="${wantedImmobile.listaImmagini}">
    </tr>
    <tr>
        <th>Titolo</th>
        <td th:text="${wantedImmobile.titolo}"></td>
    </tr>
    <tr>
        <th>Descrizione</th>
        <td th:text="${wantedImmobile.descrizione}"></td>
    </tr>
    <tr>
        <th>Data ultimo restauro</th>
        <td th:text="${wantedImmobile.dataUltimoRestauro}"></td>
    </tr>
    <tr>
        <th>Data acquisizione</th>
        <td th:text="${wantedImmobile.dataAcquisizione}"></td>
    </tr>
    <tr>
        <th>Data creazione immobile</th>
        <td th:text="${wantedImmobile.dataCreazioneImmobile}"></td>
    </tr>
    <tr>
        <th>Prezzo</th>
        <td th:text="${wantedImmobile.prezzo}"></td>
    </tr>
    <tr>
        <th>Locali</th>
        <td th:text="${wantedImmobile.locali}"></td>
    </tr>
    <tr>
        <th>Metri quadrati</th>
        <td th:text="${wantedImmobile.metriQuadri}"></td>
    </tr>
    <tr>
        <th>Via</th>
        <td th:text="${wantedImmobile.via}"></td>
    </tr>
    <tr>
        <th>CAP</th>
        <td th:text="${wantedImmobile.cap}"></td>
    </tr>
    <tr>
        <th>Città</th>
        <td th:text="${wantedImmobile.citta}"></td>
    </tr>
    <tr>
        <th>Provincia</th>
        <td th:text="${wantedImmobile.provincia}"></td>
    </tr>
</table>

<br><br>

    <div class="container">
        <form class="cardEffect" action="#" th:action="@{'/site/offerte/propose/'+ ${wantedImmobile.idProprietario} + '/' + ${wantedImmobile.idImmobile} }" th:object="${tempOffertaDTO}" method="post">
            <h2>Crea Proposta</h2>
            <input type="text" name="prezzoProposto"  th:field="*{prezzoProposto}" placeholder="Inserisci la proposta" required><br>
            <input type="text" name="commento"  th:field="*{commento}" placeholder="Inserisci altre informazioni"><br>
            <input type="hidden" name="idImmobile" th:value="${wantedImmobile.idImmobile}">
            <input type="hidden" name="idProprietario" th:value="${wantedImmobile.idProprietario}">
            <input type="submit" value="Invia">
        </form>
        <form class="cardEffect" action="#" th:action="@{'/site/immobile/addQuestion/' + ${wantedImmobile.idImmobile}}" th:object="${tempNewDomandaDTO}" method="post">
            <h2>Commenta immobile</h2>
            <textarea name="commento" th:field="*{contenuto}" rows="4" cols="50" required></textarea><br>
            <input type="submit" value="Invia commento"></input>
        </form>
    </div>


    <p th:text="${message}"></p>

    <div style="display: flex; justify-content: center">
        <div style="width: 80%">
            <h2>Commenti</h2>
            <table class="cardEffect">
                <thead>
                    <tr>
                        <th>Messaggio da:</th>
                        <th>Contenuto</th>
                        <th>Risposta</th>
                        <th>Data risposta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="domanda:${wantedImmobile.listaDomandeImmobile}">
                        <td>Da: <span th:text="${domanda.nomeProprietario}"></span> &nbsp; <span th:text="${domanda.cognomeProprietario}"></span></td>
                        <td><span th:text="${domanda.contenuto}"></span></td></th>
                        <td><span th:text="${domanda.risposta}"></span></td>
                        <td><span th:text="${domanda.dataRisposta}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p class="okmessage" th:text="${message}"></p>

</body>

</html>

