<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente">Utente</a>
        <a href="/site/offerta">Offerte</a>
        <a href="/login">Login</a>
    </nav>
    <title>Dettagli immobile</title>
</head>
<body>
<h1>Dettagli immobile selezionato</h1>
<table>
    <tr>
        <th>Titolo</th>
        <td th:text="${wantedImmobile.titolo}"></td>
    </tr>
    <tr>
        <th>Descrizione</th>
        <td th:text="${wantedImmobile.descrizione}"></td>
    </tr>
    <tr>
        <th>Data ultimo restauro</th>
        <td th:text="${wantedImmobile.dataUltimoRestauro}"></td>
    </tr>
    <tr>
        <th>Data acquisizione</th>
        <td th:text="${wantedImmobile.dataAcquisizione}"></td>
    </tr>
    <tr>
        <th>Data creazione immobile</th>
        <td th:text="${wantedImmobile.dataCreazioneImmobile}"></td>
    </tr>
    <tr>
        <th>Prezzo</th>
        <td th:text="${wantedImmobile.prezzo}"></td>
    </tr>
    <tr>
        <th>Locali</th>
        <td th:text="${wantedImmobile.locali}"></td>
    </tr>
    <tr>
        <th>Metri quadrati</th>
        <td th:text="${wantedImmobile.metriQuadri}"></td>
    </tr>
    <tr>
        <th>Via</th>
        <td th:text="${wantedImmobile.via}"></td>
    </tr>
    <tr>
        <th>CAP</th>
        <td th:text="${wantedImmobile.cap}"></td>
    </tr>
    <tr>
        <th>Città</th>
        <td th:text="${wantedImmobile.citta}"></td>
    </tr>
    <tr>
        <th>Provincia</th>
        <td th:text="${wantedImmobile.provincia}"></td>
    </tr>
</table>
<h2>Commenta immobile</h2>
<form action="#" th:action="@{site/immobile/addQuestion/{id_immobile}}" method="post">
    <textarea name="commento" rows="4" cols="50" required></textarea><br>
    <button type="submit">Invia commento</button>
</form>
</body>
</html>
