<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info utente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <style>
        p{
            font-size: x-large;
        }
    </style>

    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
        <a href="/logout">Disconnettiti</a>
    </nav>
</head>
    <body>

    <h1>Queste sono le tue informazioni</h1>

    <div th:if="${utente}">
        <p><strong>email:</strong> <span th:text="${utente.email}"></span></p>
        <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
        <p><strong>dataNascita:</strong> <span th:text="${utente.dataNascita}"></span></p>
    </div>
    <a class="newButton" href="/site/utente/getListaContratti/0/20">visualizza contratti</a>
    </body>
</html>