<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <style>
        .titleAndNewImmobileContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
        <a href="/logout">Disconnettiti</a>
    </nav>
    <title>Dettagli immobile</title>
</head>
<body>
    <div class="titleAndNewImmobileContainer">
        <h1>Dettagli immobile selezionato</h1>
        <p class="okmessage" th:text="${message}"></p>
    </div>

<table>
    <th>immagini</th>
    <tr th:each="immagine:${wantedImmobile.listaImmagini}">
        <img th:src="${immagine}" width="150px" height="150px">
    </tr>
    <tr>
        <th>Titolo</th>
        <td th:text="${wantedImmobile.titolo}"></td>
    </tr>
    <tr>
        <th>Descrizione</th>
        <td th:text="${wantedImmobile.descrizione}"></td>
    </tr>
    <tr>
        <th>Data ultimo restauro</th>
        <td th:text="${wantedImmobile.dataUltimoRestauro}"></td>
    </tr>
    <tr>
        <th>Data acquisizione</th>
        <td th:text="${wantedImmobile.dataAcquisizione}"></td>
    </tr>
    <tr>
        <th>Data creazione immobile</th>
        <td th:text="${wantedImmobile.dataCreazioneImmobile}"></td>
    </tr>
    <tr>
        <th>Prezzo</th>
        <td th:text="${wantedImmobile.prezzo}"></td>
    </tr>
    <tr>
        <th>Locali</th>
        <td th:text="${wantedImmobile.locali}"></td>
    </tr>
    <tr>
        <th>Metri quadrati</th>
        <td th:text="${wantedImmobile.metriQuadri}"></td>
    </tr>
    <tr>
        <th>Via</th>
        <td th:text="${wantedImmobile.via}"></td>
    </tr>
    <tr>
        <th>CAP</th>
        <td th:text="${wantedImmobile.cap}"></td>
    </tr>
    <tr>
        <th>Città</th>
        <td th:text="${wantedImmobile.citta}"></td>
    </tr>
    <tr>
        <th>Provincia</th>
        <td th:text="${wantedImmobile.provincia}"></td>
    </tr>
</table>

<br><br>

<h2 style="text-align: center;">Commenti</h2>
    <div style="display: flex;justify-content: center;width: 80%">
        <div class="cardEffect">
            <table>
                <thead>
                <tr>
                    <th>Inviato da</th>
                    <th>Domanda</th>
                    <th>Risposta</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="domanda:${wantedImmobile.listaDomandeImmobile}">
                        <td>Da: <span th:text="${domanda.nomeProprietario}"></span> &nbsp; <span th:text="${domanda.cognomeProprietario}"></span></td>
                        <td><span th:text="${domanda.contenuto}"></span></td>
                        <td th:unless="${#strings.isEmpty(domanda.risposta)}">
                            <span th:text="${domanda.risposta}"></span>
                        </td>
                        <td th:if="${#strings.isEmpty(domanda.risposta)}">
                            <form  action="#" th:action="@{'/site/immobile/reply/' + ${domanda.idDomanda}+'/'+ ${wantedImmobile.idImmobile}}" th:object="${tempNewDomandaDTO}" method="post">
                                <textarea name="commento" th:field="*{contenuto}" rows="1" cols="50" required></textarea><br>
                                <button type="submit">Invia risposta</button>
                            </form>
                        </td>

                    </tr>
                </tbody>

                </tr>
            </table>
        </div>
    </div>

</body>

</html>

