<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">Utente</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
    </nav>
    <title>Dettagli immobile</title>
</head>
<body>
<h1>Dettagli immobile selezionato</h1>
<table>
    <th>immagini</th>
    <tr th:each="immobile:${wantedImmobile}">
        <img th:src="${immobile.listaImmagini}" width="150px" height="150px">
    </tr>
    <tr>
        <th>Titolo</th>
        <td th:text="${wantedImmobile.titolo}"></td>
    </tr>
    <tr>
        <th>Descrizione</th>
        <td th:text="${wantedImmobile.descrizione}"></td>
    </tr>
    <tr>
        <th>Data ultimo restauro</th>
        <td th:text="${wantedImmobile.dataUltimoRestauro}"></td>
    </tr>
    <tr>
        <th>Data acquisizione</th>
        <td th:text="${wantedImmobile.dataAcquisizione}"></td>
    </tr>
    <tr>
        <th>Data creazione immobile</th>
        <td th:text="${wantedImmobile.dataCreazioneImmobile}"></td>
    </tr>
    <tr>
        <th>Prezzo</th>
        <td th:text="${wantedImmobile.prezzo}"></td>
    </tr>
    <tr>
        <th>Locali</th>
        <td th:text="${wantedImmobile.locali}"></td>
    </tr>
    <tr>
        <th>Metri quadrati</th>
        <td th:text="${wantedImmobile.metriQuadri}"></td>
    </tr>
    <tr>
        <th>Via</th>
        <td th:text="${wantedImmobile.via}"></td>
    </tr>
    <tr>
        <th>CAP</th>
        <td th:text="${wantedImmobile.cap}"></td>
    </tr>
    <tr>
        <th>Città</th>
        <td th:text="${wantedImmobile.citta}"></td>
    </tr>
    <tr>
        <th>Provincia</th>
        <td th:text="${wantedImmobile.provincia}"></td>
    </tr>
</table>


<h3>Commenti</h3>
<table th:each="domanda:${wantedImmobile.listaDomandeImmobile}">
    <tr >

        <th>
            <td>Da: <span th:text="${domanda.nomeProprietario}"></span> &nbsp; <span th:text="${domanda.cognomeProprietario}"></span></td>
            <td> </td>
            <td><span th:text="${domanda.contenuto}"></span></td>
        </th>
        <td></td>
    </tr>
    <tr>
        <th>
            <td></td>
            <td> </td>
            <td></td>
        </th>
        <td th:if="${#strings.isEmpty(domanda.risposta)}">
            <form  action="#" th:action="@{'/site/immobile/reply/' + ${domanda.idDomanda}+'/'+ ${wantedImmobile.idImmobile}}" th:object="${tempNewDomandaDTO}" method="post">
                <textarea name="commento" th:field="*{contenuto}" rows="1" cols="50" required></textarea><br>
                <button type="submit">Invia risposta</button>
            </form>
        </td>
        <td th:unless="${#strings.isEmpty(domanda.risposta)}">
            <span th:text="${domanda.risposta}"></span>
        </td>

    </tr>
</table>
<h2>Risposta immobile</h2>

<p class="okmessage" th:text="${message}"></p>


</body>

</html>

