<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
        <a href="/logout">Disconnettiti</a>
    </nav>
    <title>Chat</title>
</head>
<body>

<h2>Queste sono le chat che hai in sospeso con i venditori</h2>

<table>
    <thead>
    <tr>
        <th>nome Controparte</th>
        <th>cognome Controparte</th>
        <th>titolo immobile</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="offerta : ${listaOfferte}">
        <td th:text="${offerta.nomeControparte}"></td>
        <td th:text="${offerta.cognomeControparte}"></td>
        <td th:text="${offerta.titoloImmobile}"></td>

        <td><a class="basicButton" th:href="@{'/site/utente/getListaOfferte/storico/' + ${offerta.idControparte} + '/' + ${offerta.idImmobile}}">Apri chat</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
