<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat</a>
        <a href="/site/utente/getInfo">Dati utente</a>
    </nav>
    <title>Le tue Offerte</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Proposta ID</th>
        <th>Nome Utente</th>
        <th>Titolo Proposta</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="proposta : ${listaProposte}">
        <td th:text="${proposta.nomeControparte}"></td>
        <td th:text="${proposta.cognomeControparte}"></td>
        <a href="@{'/site/utente/getListProposte/storico/' + ${proposta.idControparte} + ${proposta.idImmobile}}">Apri chat</td></a>
    </tr>
    </tbody>
</table>
</body>
</html>
