<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registrazione</title>
    </head>
    <body>
        <h1>Registrati ed inizia a vedere i nostri immobili, sono i migliori!</h1>

        <form action="/registration" method="POST">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div>
                <label for="cognome">Cognome:</label>
                <input type="text" id="cognome" name="cognome" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="via">Via:</label>
                <input type="text" id="via" name="via" required>
            </div>
            <div>
                <label for="cap">CAP:</label>
                <input type="text" id="cap" name="cap" required>
            </div>
            <div>
                <label for="citta">Città:</label>
                <input type="text" id="citta" name="citta" required>
            </div>
            <div>
                <label for="provincia">Provincia:</label>
                <input type="text" id="provincia" name="provincia" required>
            </div>
            <div>
                <label for="dataNascita">Data di nascita:</label>
                <input type="date" id="dataNascita" name="dataNascita" required>
            </div>
            <div>
                <button type="submit">Registrati</button>
            </div>
        </form>
    </body>
</html>
