<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rilancio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
</head>
<body>

    <h1>Inserisci i dati del rilancio</h1>

    <form action="#" th:action="@{'/site/offerte/rilancia/' + ${inviatoDaProprietario}}" method="post" th:object="${tempOffertaDTO}">

        <label for="prezzoProposto">prezzoProposto: </label>
        <input type="text" id="prezzoProposto" th:field="*{prezzoProposto}" />
        <br><br>
        <label for="commento">commento: </label>
        <input type="text" id="commento" th:field="*{commento}" />

        <input type="hidden" id="idProprietario" name="idProprietario" th:value="${idProprietario}" />

        <input type="hidden" id="idImmobile" name="idImmobile"  th:value="${idImmobile}" />
        <br><br>
        <button type="submit">Invia</button>
    </form>

</body>
</html>