<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contratto selezionato</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
</head>
<body>
<h1>Dettagli contratto selezionato</h1>
<table>
<!--    <th>nome Controparte</th>-->
<!--    <tr th:each="contratto:${listaContratti}">-->
<!--        <img th:src="${contratto.nomeControparte}">-->
<!--    </tr>-->
    <tr>
        <th>cognome Controparte: </th>
        <td th:text="${contratto.cognomeControparte}"></td>
    </tr>
    <tr>
        <th>nome Controparte: </th>
        <td th:text="${contratto.nomeControparte}"></td>
    </tr>

    <tr>
        <th>prezzo Del Contratto: </th>
        <td th:text="${contratto.prezzoDelContratto}"></td>
    </tr>
    <tr>
        <th>Data stipulazione: </th>
        <td th:text="${contratto.dataStipulazioneContratto}"></td>
    </tr>
    <tr>
        <th>titolo</th>
        <td th:text="${contratto.titoloImmobile}"></td>
    </tr>
</table>
<form method="get" th:action="@{'/site/pdf/generate/' + ${contratto.idContratto}}">
    <button>Genera contratto</button>
</form>
<form method="get" th:action="@{'/site/contratto/calculate/' + ${contratto.idContratto} + '/1'}">
    <button type="submit">Calcola Preventivo con azienda xyz</button>
</form>
        <span th:utext="${risultato}"></span>
<!-- Secondo bottone -->
<form method="get" th:action="@{'/site/contratto/calculate/' + ${contratto.idContratto} + '/2'}">
    <button type="submit">Calcola Preventivo MTP </button>
</form>
    <span th:utext="${risultato}"></span>
</body>
</html>