<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
    </nav>
    <meta charset="UTF-8">
    <title>Pagina Utente</title>
</head>
<body>

<p style="color: red" th:text="${error}"></p>

<h1>Lista Immobili</h1>
<table>
    <tbody>
    <!-- Loop attraverso gli immobili caricati -->
    <tr th:each="immobile : ${listaImmobiliUtente}">
        <th>Titolo<td><a th:href="@{/site/immobile/mioImmobile/{id}(id=${immobile.idImmobile})}" th:text="${immobile.titolo}"></a></td></th>
        <th>Indirizzo<td th:text="${immobile.via}" /></th>
        <th>Prezzo<td th:text="${immobile.prezzo}" /></th>
        <th><form method="post" th:action="@{'/site/immobile/disable/' + ${immobile.idImmobile}}">
            <button>disabilita immobile</button>
        </form>
    </tr>
    </tbody>
</table>

<a href="/site/immobile">Crea un altro immobile</a>

<h1>Chat Aperte</h1>
<table>
    <thead>
    <tr>
        <th>ID Chat</th>
        <th>Nome Utente</th>
        <th>Oggetto</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop attraverso le chat aperte -->
    <tr th:each="chat : ${chatAperte}">
        <td th:text="${chat.id}" />
        <td th:text="${chat.nomeUtente}" />
        <td th:text="${chat.oggetto}" />


    </tr>
    </tbody>
</table>

<h1>Contratti</h1>
<h2>Tutti i Contratti</h2>
<table>
    <thead>
    <tr>
        <th>ID Contratto</th>
        <th>Nome Venditore</th>
        <th>Nome Acquirente</th>
        <th>Oggetto</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop attraverso tutti i contratti -->
    <tr th:each="contratto : ${contratti}">
        <td th:text="${contratto.id}" />
        <td th:text="${contratto.nomeVenditore}" />
        <td th:text="${contratto.nomeAcquirente}" />
        <td th:text="${contratto.oggetto}" />
    </tr>
    </tbody>
</table>

<h2>Contratti da Venditore</h2>
<table>
    <thead>
    <tr>
        <th>ID Contratto</th>
        <th>Nome Venditore</th>
        <th>Oggetto</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop attraverso i contratti da venditore -->
    <tr th:each="contratto : ${contrattiVenditore}">
        <td th:text="${contratto.id}" />
        <td th:text="${contratto.nomeVenditore}" />
        <td th:text="${contratto.oggetto}" />
    </tr>
    </tbody>
</table>

<h2>Contratti da Acquirente</h2>
<table>
    <thead>
    <tr>
        <th>ID Contratto</th>
        <th>Nome Acquirente</th>
        <th>Oggetto</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop attraverso i contratti da acquirente -->
    <tr th:each="contratto : ${contrattiAcquirente}">
        <td th:text="${contratto.id}" />
        <td th:text="${contratto.nomeAcquirente}" />
        <td th:text="${contratto.oggetto}" />
    </tr>
    </tbody>
</table>
</body>
</html>





