<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
    <style>
        .titleAndNewImmobileContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    <nav role="navigation" aria-label="Navigation">
        <a href="/site/immobile/list/0/20">Home</a>
        <a href="/site/utente/0/20">I tuoi immobili</a>
        <a href="/site/utente/getListaOfferte">Chat con venditori</a>
        <a href="/site/utente/getListProposte">Chat con acquirenti</a>
        <a href="/site/utente/getInfo">Dati utente</a>
        <a href="/logout">Disconnettiti</a>
    </nav>
    <meta charset="UTF-8">
    <title>Pagina Utente</title>
</head>
<body>

<p style="color: red" th:text="${error}"></p>

<div class="titleAndNewImmobileContainer">
    <h1 style="width: 50%">Lista dei tuoi immobili</h1>
    <a class="newButton" href="/site/immobile">Crea un altro immobile</a>
</div>

<table>
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Indirizzo</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <!-- Loop attraverso gli immobili caricati -->
    <tr th:each="immobile : ${listaImmobiliUtente}">
        <td><a th:href="@{/site/immobile/mioImmobile/{id}(id=${immobile.idImmobile})}" th:text="${immobile.titolo}"></a></td>
        <td th:text="${immobile.via}" /></td>
        <td th:text="${immobile.prezzo}" /></td>
        <td><form method="post" th:action="@{'/site/immobile/disable/' + ${immobile.idImmobile}}">
            <button class="deleteButton">disabilita immobile</button>
        </form></td>
    </tr>
    </tbody>
</table>

</body>
</html>





